<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlc.springcloud.dao.IPaymentDao">

    <insert id="save" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert  into payment(serial) VALUES (#{serial})
    </insert>

    <resultMap id="BasePaymet" type="com.xlc.springcloud.entities.Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getPaymentById" resultMap="BasePaymet" parameterType="Long">
      select *  from  payment where id = #{id}
    </select>
</mapper>